<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myrealestateagency">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.AgentListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!-- Home Page (Property list)-->
        <activity
            android:label="@string/property_list_page_title"
            android:name=".view.PropertyListActivity"
            />

        <!-- Add Property Page -->
        <activity
            android:label="@string/add_property_page_title"
            android:name=".view.AddPropertyActivity"
            android:parentActivityName=".view.PropertyListActivity"
            />

        <!-- Property Detail Page -->
        <activity
            android:label="@string/detail_property_page_title"
            android:name=".view.PropertyDetailActivity"
            android:parentActivityName=".view.PropertyListActivity"
            />

        <!-- Update Property Page-->
        <activity
            android:label="@string/update_property_page_title"
            android:name=".view.UpdatePropertyActivity"
            android:parentActivityName=".view.PropertyListActivity"
            />

        <activity
            android:label="@string/search_property_page_title"
            android:name=".view.SearchPropertyActivity"
            android:parentActivityName=".view.PropertyListActivity"
            />

        <activity
            android:label="@string/loan_page_title"
            android:name=".view.LoanSimulatorActivity"
            android:parentActivityName=".view.PropertyDetailActivity"
            />
    </application>

</manifest>